<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple Github Client</title>
  <meta name="description" content="Simple GitHub Client">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  <link rel="stylesheet" href="https://raw.githubusercontent.com/h5bp/html5-boilerplate/master/css/normalize.css">
  <link rel="stylesheet" href="https://raw.githubusercontent.com/h5bp/html5-boilerplate/master/css/main.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/hopscotch.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
</head>
<body ng-app="githubClient" ng-controller="MainCtrl" ng-cloak>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div id="hsTop"></div>

<div class="notifications" ng-show="errorHelper.apiCallErrors.length">
  <button type="button" class="close" aria-hidden="true" ng-click="errorHelper.apiCallErrors = []">&times;</button>
  <p class="bg-warning repeated-item" ng-repeat="err in errorHelper.apiCallErrors">
    <strong>{{ err.url }}</strong><br/>
    <span ng-if="err.limit" class="animate-if">Rate limit: <strong>{{ err.remaining }} / {{ err.limit }}</strong>. Reset at <strong>{{
      err.reset }}</strong><br/></span>
    <span ng-if="err.message" class="text-warning animate-if">{{ err.message }} <a ng-href="{{ err.documentation_url }}"
                                                                                   target="_blank"
                                                                                   class="alert-link">(see
      Docs)</a></span>

    <br>
    <br>
    <span ng-if="err.remaining === '0'"
          class="animate-if">
      <strong>Heads up!</strong>
      You can use the
      <a href="https://pgu.firebaseapp.com/"
         target="_blank"
         class="alert-link">oauth2 version of the website</a>
      to unlock the rate limit
      <a href="https://pgu.firebaseapp.com/"
         target="_blank"
         class="alert-link"><i class="fa fa-external-link"></i></a>
    </span>

  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Simple GitHub Client <img
        src="https://github.global.ssl.fastly.net/images/icons/emoji/octocat.png" class="github-logo">
        <tour is-on="isTourOn" project="selectedRepo"></tour>
      </h1>

      <h4>Repositories</h4>
      <input type="text"
             id="hsSearch"
             ng-model="inputSelectedRepo"
             placeholder="Type the name of a repository"
             typeahead="repo as repo.full_name for repo in searchProject($viewValue)"
             typeahead-loading="searchingRepos"
             typeahead-on-select="onSelectRepo(inputSelectedRepo)"
             typeahead-wait-ms="300"
             typeahead-min-length="3"
             ng-disabled="isFetchingCommits || isFetchingContributors"
             class="form-control">
      <i ng-show="searchingRepos"
         class="fa fa-refresh fa-spin"></i>

      <p></p>

      <div ng-if="selectedRepo" ng-cloak class="animate-if">
        <h1 class="page-header">
          {{ selectedRepo.full_name }}
          <a ng-href="{{ selectedRepo.html_url }}"
             target="_blank"
             class="small"
            ><i class="fa fa-fw fa-external-link"></i></a>
        </h1>

        <div class="panel panel-default">
          <div id="hsContributors"
               class="panel-heading">
            <i class="fa fa-fw fa-users"></i>
            Contributors
            <i class="fa fa-fw fa-refresh fa-spin" ng-show="isFetchingContributors"></i>
          </div>
          <div class="panel-body">
            <div ng-if="contributors.length" class="animate-if">

              <div class="row">
                <div class="col-xs-4">
                  <contributors-list contributors="contributors"
                                     start="0"
                                     stop="10"></contributors-list>
                </div>
                <div class="col-xs-4">
                  <contributors-list contributors="contributors"
                                     start="10"
                                     stop="20"></contributors-list>
                </div>
                <div class="col-xs-4">
                  <contributors-list contributors="contributors"
                                     start="20"
                                     stop="contributors.length"></contributors-list>
                </div>
              </div>

              <ul class="pager" style="margin: 0">

                <li ng-class="{ 'disabled': !contributorsPreviousUrl }"
                    ng-click="goToContributors(contributorsPreviousUrl)"
                  >
                  <button type="button"
                          class="btn btn-link"
                          ng-disabled="!contributorsPreviousUrl"
                    >&larr; {{ contributorsPreviousLabel }}
                  </button>
                </li>

                <li ng-class="{ 'disabled': !contributorsNextUrl }"
                    ng-click="goToContributors(contributorsNextUrl)"
                  >
                  <button type="button"
                          class="btn btn-link"
                          ng-disabled="!contributorsNextUrl"
                    >{{ contributorsNextLabel }} &rarr;
                  </button>
                </li>

              </ul>
            </div>
          </div>
        </div>


        <p></p>

        <div class="panel panel-default">
          <div id="hsContributions"
               class="panel-heading">
            <i class="fa fa-fw fa-bar-chart-o"></i>
            Contributors for the latest {{ COMMITS_LIMIT }} commits
          </div>
          <div class="panel-body">
            <contributors-chart id="contributors100"
                                class="contributors-chart"
                                data="contributorsChartData"></contributors-chart>
          </div>
        </div>

        <p></p>

        <div class="panel panel-default">
          <div id="hsTimeline"
               class="panel-heading">
            <i class="fa fa-fw fa-clock-o"></i>
            Timeline for the latest {{ COMMITS_LIMIT }} commits
          </div>
          <div class="panel-body">
            <commits-chart id="commits100"
                           class="commits-chart"
                           data="commitsChartData"></commits-chart>
          </div>
        </div>

        <p></p>

        <div class="panel panel-default">
          <div id="hsHeatmap"
               class="panel-heading">
            <i class="fa fa-fw fa-star"></i>
            Heatmap of the top 10 contributors for the latest {{ COMMITS_LIMIT }} commits
          </div>
          <div class="panel-body">
            <contributors-heatmap id="contributorsHeatmap"
                                  class="contributors-heatmap"
                                  categories="contributorsHeatCategories"
                                  data="contributorsHeatData"></contributors-heatmap>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
<![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment-with-langs.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/heatmap.js"></script>
<script async defer src="http://code.highcharts.com/modules/exporting.js"></script>
<script async defer src="js/hopscotch.min.js"></script>

<script src="js/app.js"></script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-40453297-16', 'pgu.github.io');
  ga('send', 'pageview');

</script>

</body>
</html>
